<div ng-controller="Limbo.Umbraco.Signatur.JobData.Controller as vm">

    <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
    <div ng-if="vm.job">
        <table class="table details">
            <tr>
                <th>Titel</th>
                <td>{{vm.job.title}}</td>
            </tr>
            <tr>
                <th>Udgivet</th>
                <td>
                    {{vm.job.pubDate.date | date: 'yyyy-MM-dd HH:mm'}}
                    <small>({{vm.job.pubDate.comment}})</small>
                </td>
            </tr>
            <tr>
                <th>Udløber</th>
                <td>
                    {{vm.job.expDate.date | date: 'yyyy-MM-dd HH:mm'}}
                    <small>({{vm.job.expDate.comment}})</small>
                </td>
            </tr>
            <tr>
                <th>Kategori</th>
                <td>{{vm.job.category}}</td>
            </tr>
            <tr ng-if="vm.job.categories.length > 0">
                <th>Kategorier</th><td>{{vm.job.categories.join(', ')}}</td>
            </tr>
        </table>
    </div>
    <umb-code-snippet language="'xml'" sssstyle="didsplay: none;">{{model.value}}</umb-code-snippet>
</div>